.sidebar{
    border-right: 1px solid var(--twitter-background);
    flex: 0.15;
    min-width: 250px;
    padding: 12px;
}

.sidebar_logo{
    margin:24px 12px 12px 12px;
    width: 35px;
}

.sidebar_tweet {
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    border: none;
    border-radius: 40px;
    padding: 12px 48px;
    margin: 24px auto;
    color: var(--twitter-white);
    background-color: var(--twitter-color);
    /*ripple effect code*/
    background-position: center;
    transition: all 750ms ease;
}

.sidebar_tweet:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.sidebar_tweet:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: all 0s;
}

.sidebar_links{
    text-decoration: none;
}