.widgets{
    flex: 0.25;
    height: 100vh;
    overflow-y: scroll;
}


.widgets::-webkit-scrollbar{
    display: none;
}

.widgets_input-wrapper{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    margin-top: 12px;
    margin-left: 12px;
    border-radius: 20px;
    background-color: var(--twitter-background);
}

.widgets_input{
    outline: none;
    border: none;
    margin-left: 8px;
    background-color: transparent;
}

.widgets_search{
    margin-right: 8px;
}

.widgets_widget-container{
    padding: 16px;
    margin-top: 16px;
    margin-left: 20px;
    border-radius: 20px;
    background-color: var(--twitter-white);
}

.widgets_heading{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.twitter-timeline{
    margin-bottom: 12px !important;
}

#b{
    width: 36px !important;
}