@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    --twitter-color: #1da1f2;
    --twitter-background: #e6ecf0;
    --twitter-black: #14171a;
    --twitter-dark-gray: #657786;
    --twitter-light-gray: #aab8c2;
    --twiiter-extra-light-gray: #e1e8ed;
    --twitter-white: #f5f8fa;
}

.app{
    display: flex;
    max-width: 1300px;
    margin: 0 auto 12px auto;
}