/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {

    .navHoverAnimation {
        cursor: pointer;
        @apply hover:bg-twitter-dark-gray hover:text-twitter-color hover:bg-opacity-10 hover:rounded-full;
    }

    .tweetBoxHover {
        @apply hover:bg-opacity-25 hover:bg-twitter-color rounded-full;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}